<footer class="container-fluid footer">
<div class="container-fluid footer-no-padding">
  <div class="footer-main">

    <div class="container top">
      <div class="col-xs-12 col-sm-12 col-md-2 footer-blk pull-left logo">
        <img class="img-size" src="assets/img/JL.png">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 footer-blk">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Services</h4>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <ul>
              <li><a routerLinkActive="router-link-active" routerLink="/single">Single Family Property Management</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <ul>
              <li><a routerLinkActive="router-link-active" routerLink="/multi">Multi Family Property Management</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Properties</h4>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <ul>
              <li><a routerLinkActive="router-link-active" routerLink="/properties">Our Properties</a></li>
            </ul>
          </div>
        </div>
      <div class="col-xs-12 col-sm-12 col-md-3 footer-blk">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h4>Tenants</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul>
          <li><a routerLinkActive="router-link-active" routerLink="/payment">Payment</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul>
            <li><a routerLinkActive="router-link-active" routerLink="/maintenance">Maintenance Request</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul>
            <li><a routerLinkActive="router-link-active" routerLink="/notice">Notice of Vacating</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h4>Contact Us</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul>
            <li><a routerLinkActive="router-link-active" routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 footer-blk">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h4>Address</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p>Jacob Lei Property Management</p>
          <a class="footer-link" href="http://maps.google.com/?q=346 Ebenezer Rd. Knoxville, TN 37923"> 346 Ebenezer Rd.<br> Knoxville, TN <br>37923</a>
          <p>T: 865.675.7880</p>
          <p>F: 866.703.7882</p>
          <p>E: admin@jacobolei.com</p>
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>
</div>
</footer>
<!--<p class="footer-contents padding"><i class="fa fa-phone" aria-hidden="true"></i> (865) 675-7880   <a class="footer-link" href="http://maps.google.com/?q=346 Ebenezer Rd. Knoxville, TN 37923"><i class="fa fa-map-marker" aria-hidden="true"></i> 346 Ebenezer Rd. Knoxville, TN 37923 </a></p>-->
