/*.p {*/
  /*color: #eeeeee;*/
/*}*/
@media only screen and (max-width: 770px) {
  .carousel-inner img {
    margin-top: 140px;
    height: 270px !important;
  }
}

@media only screen and (min-width: 640px) {
  .carousel-inner img {
    margin-top: 85px;
  }
}
