# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
export SENDGRID_API_KEY='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' echo sendgrid.env source ./sendgrid.env
export SENDGRID_API_KEY='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' echo sendgrid.env source ./sendgrid.env

#env
.env