doctype html
html
  head
    title Jacob Lei Payment Conformation
  body
    h1 Payment Conformation for #{propertyName}
    ul
      li
        |Name: #{payeeName}
      li
        |Phone: #{phoneNumber}
     li
     h3 Thank you for your payment

