/*body {*/
/*!*font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;*!*/
/*font-size: 14px;*/
/*line-height: 1.42857;*/
/*height: 350px;*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
/*.message-padding {*/
/*padding-left: 12%;*/
/*}*/
/*.panel-default {*/
/*width: 52%;*/
/*border-color: #ddd;*/
/*box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);*/
/*margin-left: 25%;*/
/*padding-top: 4%;*/
/*}*/
/*.btn {*/
/*margin-right: 0px;*/
/*border-radius: 3px;*/
/*border: transparent;*/
/*box-shadow: 2px 3px 6px 1px #000000c2;*/
/*}*/
/*.input-group {*/
/*display: inline-flex;*/
/*}*/
/*!*----------------------Mobile CSS---------------------------------------*!*/
/*!*-------Vartical---------*!*/
/*@media only screen and (max-width: 736px) {*/
/*.panel-default {*/
/*width: 136%;*/
/*-webkit-box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);*/
/*box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);*/
/*margin-left: 0%;*/
/*padding-top: 0%;*/
/*margin-bottom: 18px;*/
/*}*/
/*.row {*/
/*margin-right: -11%;*/
/*margin-left: -70%;*/
/*}*/
/*.padding-input-group {*/
/*padding-bottom: 5px;*/
/*}*/
/*.panel-body {*/
/*padding-top: 30px;*/
/*}*/
/*.map {*/
/*border: 0;*/
/*padding: 2px;*/
/*margin-left: -4px;*/
/*width: 138%;*/
/*}*/
/*.message-padding {*/
/*padding-left: 5%;*/
/*width: 100%;*/
/*margin-left: 2%;*/
/*}*/
/*}*/
/*!*-------Horizontal-----------*!*/
/*@media only screen and (max-height: 414px) {*/
/*.row {*/
/*margin-right: 9%;*/
/*margin-left: -21%;*/
/*}*/
/*.padding-input-group {*/
/*padding-bottom: 5px;*/
/*}*/

/*.panel-default {*/
/*width: 128%;*/
/*border-color: #ddd;*/
/*-webkit-box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);*/
/*box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);*/
/*margin-left: 0%;*/
/*padding-top: 0%;*/
/*margin-bottom: 18px;*/
/*}*/
/*.panel-body {*/
/*padding-top: 30px;*/
/*}*/
/*.map {*/
/*border: 0;*/
/*padding: 2px;*/
/*margin-left: -4px;*/
/*width: 129%;*/
/*}*/
/*.message-padding {*/
/*padding-left: 3%;*/
/*width: 100%;*/
/*margin-left: 1%;*/
/*}*/
/*}*/


/*------------------New CSS-----------------------*/

.row-settings {
  /*background-color: #dddddd;*/
  padding-top: 5%;
  padding-bottom: 4%;
  /*border-radius: 2px;*/
  /*box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
  /*max-width: 90%;*/
}

.row-paddings {
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 4%;
}
.text-area {
  width: 100%;
  height: 90px;
}
.bg-2 p {
  color: #0000006e;
}
.bg-0 {
  height: 100% !important;
}
.i-padding {
  padding: 12px 5px 0px 0px;
}

@media only screen and (max-width: 486px) {
  .padding-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .padding-content {
    padding-left: 2px;
    padding-right: 2px;
  }
  .container {
    padding: 15% 3% 0 6% !important;
  }
  /*.row-settings {*/
    /*max-width: 100%;*/
  /*}*/

}
@media only screen and (max-width: 764px) {
  /*.md-padding-content {*/
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
  /*}*/
  .btn {
    width: 100% !important;
  }
  .container {
    padding: 15% 5% 0 5%;
  }
  iframe {
    /*padding-right: 19%;*/
    padding-top: 5%;
  }
  .map-padding {
    padding-bottom: 15%;
  }
}
@media only screen and (max-width: 989px){
  .lg-padding-content {
    padding-left: 5%;
    padding-right: 8%;
  }
}

.invalid {
  color: red;
  padding-left: 15px;
}
.btn {
  margin-right: 0px;
  border-radius: 3px;
  border: transparent;
  box-shadow: 2px 3px 6px 1px #000000c2;
}

/*----------Google Map------------*/
.google-maps {
  /*position: relative;*/
  /*padding-bottom: 75%; // This is the aspect ratio*/
  /*height: 0;*/
  /*-webkit-overflow-scrolling: touch;*/
  /*overflow-x: scroll;*/
  /*overflow-y: scroll;*/
  /*overflow: hidden;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*top: 0px;*/
  /*left: 0px;*/
  /*background-color: rgb(229, 227, 223);*/
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  box-shadow: 0px 0px 25px 1px black;
}

.modal-backdrop {
  position: inherit !important;
}

.modal-body {
  z-index: 1029;
}
.modal-dialog {
  padding-top: 8%;
}

.modal-class {
  display: none;
  z-index: 9999;
}
.container {
  padding: 0 !important;
}
.row-top-padding {
  padding-top: 90px;
}
.content {
  max-width: 65%;
  float: left;
}
.contact-form {
  margin-bottom: 20px;
}
.contact-form div {
  padding-left: 0;
}
.address-text {
  color: #5f5f5f;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.inputs {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  box-shadow: none;
  padding: 35px 0 5%;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  border-radius: 0 !important;
}

.form-control {
  border-radius: 1px;
}
.contact-btn-padding {
  padding-bottom: 25px;
}
label {
  font-weight: 400;
}
/*.contact-map {*/
  /*height: 40vh;*/
  /*min-height: 40rem;*/
  /*border-bottom: 1px solid #1f3741;*/
  /*position: relative;*/
  /*overflow: hidden;*/
/*}*/

