body {
  /*font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;*/
  font-size: 14px;
  line-height: 1.42857;
  height: 350px;
  padding: 0;
  margin: 0;
}
.message-padding {
  padding-left: 12%;
}
.panel-default {
  width: 52%;
  border-color: #ddd;
  box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);
  margin-left: 25%;
  padding-top: 4%;
}
.btn {
  margin-right: 0px;
  border-radius: 3px;
  border: transparent;
  box-shadow: 2px 3px 6px 1px #000000c2;
}
/*----------------------Mobile CSS---------------------------------------*/
/*-------Vartical---------*/
@media only screen and (max-width: 736px) {
  .panel-default {
    width: 136%;
    -webkit-box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);
    box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);
     margin-left: 0%;
     padding-top: 0%;
    margin-bottom: 18px;
  }
  .row {
    margin-right: -11%;
    margin-left: -70%;
  }
  .padding-input-group {
    padding-bottom: 5px;
  }
  .panel-body {
    padding-top: 30px;
  }
  .map {
    border: 0;
    padding: 2px;
    margin-left: -4px;
    width: 138%;
  }
  .message-padding {
    padding-left: 5%;
    width: 100%;
    margin-left: 2%;
  }
}
/*-------Horizontal-----------*/
@media only screen and (max-height: 414px) {
  .row {
    margin-right: 9%;
    margin-left: -21%;
  }
  .padding-input-group {
    padding-bottom: 5px;
  }

  .panel-default {
    width: 128%;
    border-color: #ddd;
    -webkit-box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);
    box-shadow: 2px 5px 7px 6px rgba(13, 4, 1, 0.51);
     margin-left: 0%;
     padding-top: 0%;
    margin-bottom: 18px;
  }
  .panel-body {
    padding-top: 30px;
  }
  .map {
    border: 0;
    padding: 2px;
    margin-left: -4px;
    width: 129%;
  }
  .message-padding {
    padding-left: 3%;
    width: 100%;
    margin-left: 1%;
  }
}
