<div class="container-fluid bg-tenants" >
  <div class="container">
    <div class="row row-display">
      <div class="col-xss-12 col-sm-12 col-md-2 col-lg-2 links-container">
        <ul style="list-style: none">
          <li class="li-adjustment"><a routerLink="/payment">PAYMENT</a></li>
          <li style="color: #19191B"><a routerLink="/maintenance">MAINTENANCE REQUEST</a></li>
          <li style="color: #19191B"><a routerLink="/note">NOTE OF VACANCY</a></li>
        </ul>
      </div>
      <div class="col-xss-12 col-md-10 col-lg-10">
        <app-payment></app-payment>
      </div>
    </div>
  </div>
</div>
