<div class="container bg-2 padding-container">
  <div *ngIf="emailSuccess">Success Email</div>
  <form [formGroup]="maintenanceForm">
    <div class="row row-padding padding-content md-padding-content lg-padding-content">
      <div class="panel panel-info">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  panel-heading">
          <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-6"><span><i class="fa fa-wrench" aria-hidden="true"></i></span> Maintenance Request
          </div>
        </div>
        <div class="panel-body panel-box">
          <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <strong>Tenant Name</strong>
            </div>
            <div class="col-sm-12 col-md-12">
              <input autocomplete="off" type="text" class="form-control"  formControlName="tenName" name="name" id="name" (input)="checkInputError()" value="" required />
            </div>
            <!--<span *ngIf="maintenanceForm.controls.tenName.errors" class="invalid">Name of Tenant Required</span>-->
            <span class="alert-warning small" *ngIf="inputNameError !== null">{{inputNameError}}</span>
          </div>
          <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <strong>Rental Property Address</strong>
            </div>
            <div class="col-sm-12 col-md-12">
              <input autocomplete="off" type="text" class="form-control" formControlName="appAddress" (input)="checkInputError()" name="address" id="address" value="" required />
            </div>
            <span class="alert-warning small" *ngIf="inputAddressError !== null">{{inputAddressError}}</span>
            <!--<span *ngIf="maintenanceForm.controls.appAddress.errors" class="invalid">Rental Property Address Required</span>-->
          </div>
          <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <strong>Your Contact Number</strong>
            </div>
            <div class="col-sm-12 col-md-12">
              <input autocomplete="off" type="number" class="form-control" formControlName="phoneNumber" name="phoneNumber" (input)="checkInputError()" id="phoneNumber" value="" required />
            </div>
            <span class="alert-warning small" *ngIf="inputPhoneError !== null">{{inputPhoneError}}</span>
            <!--<span *ngIf="maintenanceForm.controls.phoneNumber.errors" class="invalid">Phone Number Required</span>-->
          </div>
          <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <strong>Your ​Email</strong>
            </div>
            <div class="col-sm-12 col-md-12">
              <input autocomplete="off" type="text" class="form-control" formControlName="email" name="email" (input)="checkInputError()" id="email" value="" required />
            </div>
            <span class="alert-warning small" *ngIf="inputEmailError !== null">{{inputEmailError}}</span>
            <!--<span *ngIf="maintenanceForm.controls.emailAddress.errors" class="invalid">Invalid Email</span>-->
            <!--<span *ngIf="maintenanceForm.controls.emailAddress.required" class="invalid">Email Required</span>-->
          </div>

          <div class="form-group">
            <div class='col-xs-12 col-md-6 col-lg-6 form-group expiration required'>
              <label class='control-label'>Repair Issue</label>
              <textarea id="message" name="message" formControlName="textArea" class="text-area" (input)="checkInputError()"></textarea>
              <span class="alert-warning small" *ngIf="inputTextError !== null">{{inputTextError}}</span>
              <button type="button" (click)="sendEmail(this)" class="btn btn-primary btn-lg btn-submit-fix pull-right" [disabled]="!maintenanceForm.valid">Submit</button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 pull-left">
              <p style="font-size: 14px">
                <strong>Note:</strong> An EMERGENCY ISSUE is related to...<br>
                <strong>A.</strong> Heating and Air with extreme outside temperatures.
                However, there are no emergency HVAC services, after hours that any HVAC company offers so,
                the HVAC issue will have to be addressed during the next day.<br>
                <strong>B.</strong> Major Water Leak that cannot be controlled by turning off a water valve to the fixture (Faucet, Commode, Washing Machine Hose, etc...)<br>
                <strong>C.</strong> Fire... CALL 911 IMMEDIATELY
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
