<head>
  <!--<script src="/src/assets/js/hideTable.js"></script>-->
</head>
<div class="container bg-0">
  <!--style="padding-top: 7% !important; padding-bottom: 7% !important"-->
  <!--<div class="row pull-right">-->
  <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
  <!--<a href="http://www.jacobleiadmin.com/" target="_blank"><i class="fa fa-circle"></i></a>-->
  <!--</div>-->
  <!--</div>-->
  <div class="container container-content">
    <div class="row">
      <div class="col-xss-12 col-sm-12 col-md-12 col-lg-12">
        <div>
          <h3>
            SINGLE FAMILY PROPERTY MANAGEMENT
          </h3>
          <img class="img-responsive" src="assets/img/single01.png" alt="Single Property">
        </div>
        <div>
          <p>
            Our area property managers will safeguard your property, manage your tenants, and protect your
            investment,
            all without you having to lift a finger. You'll be amazed at how much time and money our residential
            property management services can save you in both the long and short term.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-xss-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          Managing your real estate investment properties the smart way through effective and efficient property management services.
          Effective property management is about strategic planning, addressing common challenges and providing property
          specific solutions. At Jacob Lei, we can help whether you have a single family home or a vast portfolio.
        </p>
      </div>
      <div id="desktop"  class="col-md-12 col-lg-12 visible-md visible-lg visible-xxl ">
        <table id="communication" class="table table-responsive">
          <thead>
          <tr>
            <th>Communication:</th>
            <th>Repair & Maintenance Issues:</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              Our company is committed to delivering high touch customer service and we know that this starts with communication.
              We have a steadfast commitment to respond and address client demands swiftly and effectively.
              We utilize cutting-edge software to manage all of your properties efficiently.
              Access your account online anytime, anywhere.
            </td>
            <td>
              Maintenance is a necessary expense in owning rental property, when required we ensure the job is done quickly,
              correctly and cost effective.  We supervise and coordinate comprehensive programs for all property maintenance,
              repair, and renovations.  Jacob Lei has an extensive network of service providers as well as in house maintenance
              to handle all your property maintenance and repair work. When maintenance is required we ensure the job is done quickly,
              correctly and cost effective.
            </td>
          </tr>
          </tbody>
        </table>
        <table id="rent" class="table table-responsive">
          <thead>
          <tr>
            <th>Rent Collection:</th>
            <th>Leasing/Tenant Screening:</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              At Jacob Lei our systematic approach ensures our owners get their money faster.
              Tenants receive automated rent invoices via email monthly with a detailed breakdown of any charges.
              Tenants can also log-in to our website at any time to check rent balances or to confirm that previous payments
              have been processed. With our diligent approach deposits are promptly made to owners.
            </td>
            <td>
              We handle all tenant screening and leasing to ensure that only pre qualified individuals who passed credit screening
              as well as criminal and evictions background  check are allowed to occupy your rental property.
              Our systematic approach placing a tenant.
            </td>
          </tr>
          </tbody>
        </table>
        <table id="marketing" class="table table-responsive">
          <thead>
          <tr>
            <th>Emergency Repair Assistance:</th>
            <th>Marketing & Advertising:</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              The company’s trained and qualified service providers allows us to provide emergency services in a timely
              and efficient manner.  On call maintenance and management personnel available on a 24/7/365 basis.
            </td>
            <td>
              We provide comprehensive marketing services, which include  targeted advertising and informational materials.
              Our efforts are tailored to maximizing exposure of our properties to potential tenants local and across the US.
            </td>
          </tr>
          </tbody>
        </table>
        <table id="inspection" class="table table-responsive">
          <thead>
          <tr>
            <th>Tenant Management:</th>
            <th>Routine Property Inspections:</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              We establish strong relationships with tenants to ensure a mutually beneficial experience for the tenant and the owner.
            </td>
            <td>
              We perform regular inspections to detail property conditions and maintenance needs.
              We facilitate all maintenance needs on the property in a cost effective and timely manner.
            </td>
          </tr>
          </tbody>
        </table>
        <table id="accounting" class="table table-responsive">
          <thead>
          <tr>
            <th>Comprehensive Accounting:</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              We keep an accurate account of all cash flow. Every month you’ll get an owner statement which describes what was received,
              what was paid out for maintenance issues, and the amount being remitted to you.
              All information to your property will be available 24/7 through your owner portal.
            </td>
            <td>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xss-12 col-sm-12 hidden-md hidden-lg">
        <h4>Communication:</h4>
        <p>
          Our company is committed to delivering high touch customer service and we know that this starts with communication.
          We have a steadfast commitment to respond and address client demands swiftly and effectively.
          We utilize cutting-edge software to manage all of your properties efficiently.
          Access your account online anytime, anywhere.
        </p>
        <h4>Repair & Maintenance Issues:</h4>
        <p>
          Maintenance is a necessary expense in owning rental property, when required we ensure the job is done quickly,
          correctly and cost effective.  We supervise and coordinate comprehensive programs for all property maintenance,
          repair, and renovations.  Jacob Lei has an extensive network of service providers as well as in house maintenance
          to handle all your property maintenance and repair work. When maintenance is required we ensure the job is done quickly,
          correctly and cost effective.
        </p>
        <h4>Rent Collection:</h4>
        <p>
          At Jacob Lei our systematic approach ensures our owners get their money faster.
          Tenants receive automated rent invoices via email monthly with a detailed breakdown of any charges.
          Tenants can also log-in to our website at any time to check rent balances or to confirm that previous payments
          have been processed. With our diligent approach deposits are promptly made to owners.
        </p>
        <h4>Leasing/Tenant Screening:</h4>
        <p>
          We handle all tenant screening and leasing to ensure that only pre qualified individuals who passed credit screening
          as well as criminal and evictions background  check are allowed to occupy your rental property.
          Our systematic approach placing a tenant.
        </p>
      </div>
      <div class="col-xss-12 col-sm-12 hidden-md hidden-lg">
        <h4>Emergency Repair Assistance:</h4>
        <p>
          The company’s trained and qualified service providers allows us to provide emergency services in a timely
          and efficient manner.  On call maintenance and management personnel available on a 24/7/365 basis.
        </p>
        <h4>Marketing & Advertising:</h4>
        <p>
          We provide comprehensive marketing services, which include  targeted advertising and informational materials.
          Our efforts are tailored to maximizing exposure of our properties to potential tenants local and across the US.
        </p>
        <h4>Tenant Management:</h4>
        <p>
          We establish strong relationships with tenants to ensure a mutually beneficial experience for the tenant and the owner.
        </p>
        <h4>Routine Property Inspections:</h4>
        <p>
          We perform regular inspections to detail property conditions and maintenance needs.
          We facilitate all maintenance needs on the property in a cost effective and timely manner.
        </p>
        <h4>Comprehensive Accounting:</h4>
        <p>
          We keep an accurate account of all cash flow. Every month you’ll get an owner statement which describes what was received,
          what was paid out for maintenance issues, and the amount being remitted to you.
          All information to your property will be available 24/7 through your owner portal.
        </p>
      </div>
    </div>
  </div>
</div>
<!--<div class="row justify-content-md-center content-padding">-->
<!--<p>-->
<!--We specialize in the management of residential and commercial properties.-->
<!--Our business is designed to tailor an individual program that will suit your property-->
<!--management needs. We operate our business with the highest degree of integrity,-->
<!--ethics and professionalism while providing outstanding property management services.-->
<!--e specialize in the management of residential and commercial properties.-->
<!--Our business is designed to tailor an individual program that will suit your property-->
<!--management needs. We operate our business with the highest degree of integrity,-->
<!--ethics and professionalism while providing outstanding property management services.-->
<!--</p>-->
<!--</div>-->


