@media only screen and (max-width: 486px){
  .padding {
    padding-bottom: 5%;
  }

}
.intrinsic-container {
  position: relative;
  height: 0;
  /*overflow: hidden;*/
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 65%;
  margin-top: 49px;
  /*margin-bottom: 100%;*/
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: scroll;
}

@media only screen and (max-width: 736px) {
  .intrinsic-container-16x9 {
    padding-bottom: 160%;
    margin-top: 49px;
  }
  .fix-container {
    padding: 0 !important;
    width: 100% !important;
  }
}
