<div class="container bg-0">
  <!--<div class="row pull-right">-->
    <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
      <!--<a href="http://www.jacobleiadmin.com/" target="_blank"><i class="fa fa-circle"></i></a>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-xss-12 col-sm-12 col-md-6 col-lg-6">
      <div>
        <h3>
          SINGLE FAMILY PROPERTY MANAGEMENT
        </h3>
        <img  class="img-responsive" src="assets/img/singleHouse.jpg" alt="Single Property">
      </div>
      <div>
        <p>
          Our Lehi area property managers will safeguard your property, manage your tenants, and protect your
          investment,
          all without you having to lift a finger. You'll be amazed at how much time and money our residential
          property management services can save you in both the long and short term.
        </p>
      </div>
    </div>
      <div class="col-xss-12 col-sm-12 col-md-6 col-lg-6">
        <div>
          <h3>
            MULTI-FAMILY PROPERTY MANAGEMENT
          </h3>
          <img class="img-responsive" src="assets/img/apartmentComplex.jpg" alt="Multiple House Property">
        </div>
        <div>
          <p>
            Our Lehi apartment property management services include all necessary maintenance,
            tenant screening & management, and regular property inspections.
            Whether you own one unit or many in an apartment building, our Lehi property managers can handle it all.
          </p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xss-12 col-sm-12 col-md-12 col-lg-12">
      <p>
        Managing your real estate investment properties the smart way through effective and efficient property management services.
        Effective property management is about strategic planning, addressing common challenges and providing property
        specific solutions. At Jacob Lei, we can help whether you have a single family home or a vast portfolio.
      </p>
    </div>
    <div class="col-xss-12 col-sm-12 col-md-6 col-lg-6">
      <p>
        <strong>-Communication:</strong><br>
        Our company is committed to delivering high touch customer service and we know that this starts with communication.
        We have a steadfast commitment to respond and address client demands swiftly and effectively.
        We utilize cutting-edge software to manage all of your properties efficiently.
        Access your account online anytime, anywhere.<br><br>
        <strong>-Repair & Maintenance Issues:</strong><br><br>
        Maintenance is a necessary expense in owning rental property, when required we ensure the job is done quickly,
        correctly and cost effective.  We supervise and coordinate comprehensive programs for all property maintenance,
        repair, and renovations.  Jacob Lei has an extensive network of service providers as well as in house maintenance
        to handle all your property maintenance and repair work. When maintenance is required we ensure the job is done quickly,
        correctly and cost effective.<br>
        <strong>-Rent Collection:</strong><br><br>
        At Jacob Lei our systematic approach ensures our owners get their money faster.
        Tenants receive automated rent invoices via email monthly with a detailed breakdown of any charges.
        Tenants can also log-in to our website at any time to check rent balances or to confirm that previous payments
        have been processed. With our diligent approach deposits are promptly made to owners.<br>
        <strong>-Leasing/Tenant Screening:</strong><br><br>
        We handle all tenant screening and leasing to ensure that only pre qualified individuals who passed credit screening
        as well as criminal and evictions background  check are allowed to occupy your rental property.
        Our systematic approach placing a tenant.
      </p>
    </div>
  </div>
  </div>
  <!--<div class="row justify-content-md-center content-padding">-->
  <!--<p>-->
  <!--We specialize in the management of residential and commercial properties.-->
  <!--Our business is designed to tailor an individual program that will suit your property-->
  <!--management needs. We operate our business with the highest degree of integrity,-->
  <!--ethics and professionalism while providing outstanding property management services.-->
  <!--e specialize in the management of residential and commercial properties.-->
  <!--Our business is designed to tailor an individual program that will suit your property-->
  <!--management needs. We operate our business with the highest degree of integrity,-->
  <!--ethics and professionalism while providing outstanding property management services.-->
  <!--</p>-->
  <!--</div>-->

