@media only screen and (max-width: 486px) {
  .padding-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .padding-content {
    padding-left: 2px;
    padding-right: 2px;
  }
  .btn {
    width: 100% !important;
  }

}
@media only screen and (max-width: 724px) {
  .md-padding-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .selection-padding {
    padding-bottom: 5%;
  }
  .btn {
    width: 100% !important;
  }
}
@media only screen and (max-width: 989px){
  .lg-padding-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.info-p {
  font-style: italic;
  color: #4c4c4c !important;
}
.btn {
  margin-right: 0px;
  width: 15%;
  border-radius: 3px;
  border: transparent;
  box-shadow: 2px 3px 6px 1px #000000c2;
}

#error {
  color: red;
}
.currency-input {
  position: absolute;
  top: 35px;
  left: 17px;
}
.currency-input input {
  border: 0;
}

@media only screen and (max-width: 768px) {
  .btn-default {
    width: 115px !important;
  }
  .modal-title {
    font-size: 15px !important;
  }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
