<div class="container bg-1 padding-container">
<div id="sq-ccbox">
  <form [formGroup]="infoPaymentForm" id="nonce-form"  method="POST">
    <input type="hidden" name="action" value="/api/sendpayment"/>
  <div class="row row-padding padding-content md-padding-content lg-padding-content">
    <div class="col-12"></div>
    <div class="panel panel-info">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  panel-heading">
        <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-6"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right"><img class="pull-right cards-img" src="assets/img/credit-cards.png">
        </div>
      </div>

      <div class="panel-body panel-box">
        <div class="form-group" >
          <div class="col-sm-12 col-md-12">
            <label for="first_name">First Name on Card (Required)</label>
            <input id="first_name" formControlName="given_name" autocomplete="off" type="text"  (input)="checkInputError()" class="form-control" name="first_name" required/>
          </div>
        </div>
        <div class="form-group" >
          <div class="col-sm-12 col-md-12">
            <label for="last_name">Last Name on Card (Required)</label>
            <input id="last_name" formControlName="family_name" autocomplete="off" type="text"  (input)="checkInputError()" class="form-control" name="last_name" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label for="phone_number">Phone Number (Required)</label>
            <input id="phone_number" formControlName="phone_number" autocomplete="off" (input)="checkInputError()"  [textMask]="{mask: mask}" [(ngModel)]="phoneNumberModel" type="text" class="form-control" name="phone_number" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label for="email_address">Email Address (Required)</label>
            <input id="email_address" formControlName="email_address" autocomplete="off" (input)="checkInputError()"  type="text" class="form-control" name="email_address" required/>
          </div>
        </div>
        <!--Beginning of Square-->
        <div class="form-group clearfix">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label for="property_name">Card Information</label>
            <div>
              <div id="card-container"></div>
            </div>
          </div>
        </div>

        <!--End of Square payment-->

        <div class="form-group clearfix">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label for="property_name">Rental Property Address (Required)</label>
              <input id="property_name" formControlName="property_name"   (input)="checkInputError()" type="text" class="form-control" name="property_name" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label for="differentName">Are You Paying for Yourself or Someone Else, Please Enter Name (Required)</label>
            <input id="differentName" autocomplete="off" formControlName="differentName"  (input)="checkInputError()" type="text" class="form-control" name="differentName"  required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <label for="amountToPay">Amount You Are Paying (Required)</label>
            <span class="currency-input">$</span><input id="amountToPay" formControlName="amountToPay"  (input)="checkInputError()" autocomplete="off" type="number" min="1" max="9999" class="form-control" name="amountToPay"  value="0" />
            <span class="alert-warning small" *ngIf="amountToPayError !== null">{{amountToPayError}}<br></span>
            <span class="afix">***3.75% fee will be added to the amount (see below)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-md-12 col-sm-12 col-xs-12 col-lg-12 pull-right btn-row">
            <button id="sq-creditcard"  class="btn btn-primary btn-lg btn-submit-fix pull-right" [disabled]="!infoPaymentForm.valid" data-toggle="modal" data-target="#modalConformation" (click)="conformationModal();" >Pay</button>
            <input type="hidden" id="sq-id" name="sq-id">
            <input type="hidden" id="card-nonce" name="nonce">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6 col-xs-6 col-lg-6 pull-right">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="alert alert-info info-p">
              ***3.75% fee added as a transaction processing fee charged by the merchant account provider***
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
</div>
<!--Modal-->
<div class="modal fade" id="modalConformation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 *ngIf="conformationShow" class="modal-title">{{modalHeader}}</h3>
        <h3 *ngIf="paymnetSuccess" class="modal-title">{{modalHeader}}</h3>
      </div>
      <div class="modal-body">
        <h5 *ngIf="conformationShow">${{modalAmountToPay}}</h5>
        <h5 *ngIf="paymnetSuccess">{{modalConformation}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button [disabled]="isSubmitting" (click)="handlePaymentMethodSubmission()" type="button" class="btn btn-default" id="payButton"  data-target="#modal" >Pay</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
