<div class="container bg-1 padding-container">
  <form id="nonce-form" novalidate method="post">
    <input type="hidden" name="action" value="payment"/>
  <div class="row row-padding padding-content md-padding-content lg-padding-content">
    <div class="col-12"></div>
    <div class="panel panel-info">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  panel-heading">
        <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-6"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right"><img class="pull-right cards-img" src="assets/img/credit-cards.png">
        </div>
      </div>

      <div class="panel-body panel-box">
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <strong>Name on Card</strong>
          </div>
          <div class="col-sm-12 col-md-12">
            <input id="peyeeName" autocomplete="on" type="text" class="form-control" name="peyeeName" value=""/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <strong>Phone Number</strong>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <input id="phoneNumber" autocomplete="on" type="number" class="form-control" name="phoneNumber"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <strong>Email Address</strong>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <input id="email" autocomplete="on" type="text" class="form-control" name="email"/>
          </div>
        </div>
        <!--Beginning of Square-->
        <div id="sq-ccbox">
          <div class="form-group">
            <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
              <!--<strong>Credit Card Number:</strong>-->
            <!--</div>-->
            <label for="sq-card-number">Card Number</label>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <input id="sq-card-number" autocomplete="off" type="text" class="form-control" name="car_number" value="" />
            </div>
          </div>
          <div class="form-group">
            <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
              <!--<strong>Expiration Month</strong>-->
            <!--</div>-->
            <label for="sq-expiration-date">Expiration Date</label>
            <div class="col-xss-12 col-sm-12 col-md-12 col-lg-12">
              <input id="sq-expiration-date" type="number" class="form-control" minlength="2" maxlength="2" placeholder="ex. 01" name="month">
            </div>
            <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
              <!--<strong>Expiration Year</strong>-->
            <!--</div>-->
            <!--<div class="col-xss-12 col-sm-12 col-md-12 col-lg-12">-->
              <!--<input type="number" class="form-control" minlength="4" maxlength="4" placeholder="ex. 2018" name="year">-->
            <!--</div>-->
          </div>

          <div class='col-xs-12 col-md-6 col-lg-6 form-group expiration required'>
            <label for="sq-cvv" class='control-label'>Card CVV</label>
            <input id="sq-cvv" autocomplete="off" class='form-control card-CVV' placeholder='733' size='4' type='text'>
            <span class="afix">3 Digit Security Code on Back or 4 Digits on Front of AmEx</span>
          </div>

          <div class='col-xs-12 col-md-6 col-lg-6 form-group expiration required'>
            <label for="sq-postal-code" class='control-label'>Card Zip Code</label>
            <input id="sq-postal-code" autocomplete="on" class='form-control card-ZIP' placeholder='ex.37919' size='4' type='text'>
          </div>
        </div>
        <!--End of Square payment-->

        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 info-row">
            <strong>This payment is regarding rental property</strong>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <input id="propertyName" type="text" class="form-control" name="propertyName" value="" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <strong>Your Comment</strong>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <input id="propertyComment" type="text" class="form-control" name="propertyComment" value="" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <strong>If you are paying for a different Named Rental Applicant, Please enter their name</strong>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <input id="differentName" type="text" class="form-control" name="differentName" value="" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <strong>Amount You Are Paying</strong>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <input id="amountToPay" type="number" class="form-control" name="amountToPay"  value="0" />
            <!--<input id="amountToPay" type="number" #amountToPay (keyup)="this.calculatePayment(amountToPay)" class="form-control" name="amountToPay"  value="0"  />-->
            <span class="afix">***3.75% fee will be added to the amount (see below)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-md-12 col-sm-12 col-xs-12 col-lg-12 pull-right btn-row">
            <button id="sq-creditcard" type="submit" class="btn btn-primary btn-lg btn-submit-fix pull-right" (click)="requestCardNonce($event)">Pay</button>
            <input type="hidden" id="card-nonce" name="nonce">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6 col-xs-6 col-lg-6 pull-right">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="alert alert-info info-p">
              ***3.75% fee added as a transaction processing fee charged by the merchant account provider***
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
