body {
  font: 400 15px/1.8 Lato, sans-serif;
  /*font: 300 18px/1.8 "EB Garamond";*/
  color: #777;
}
h3 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 18px;
  color: #111;
}
h5 {
  margin: 10px 0 30px;
  letter-spacing: 8px;
  font-size: 16px;
  color: #111;
  text-align: center;
}

.container {
  padding: 80px 120px;
}

.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(10%); /* make all photos black and white */
  width: 100%; /* Set width to 100% */
  height: 500px !important;
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 400px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 400 pixels wide */
  }
}
.bg-1 {
  background: #F5F5F5;
  /*background: #0B1A33;*/
  /*color: #bdbdbd;*/
  width: 100%;
  opacity: 0.9;
  height: 100%;
}
.bg-1 h3 {
  color: #e1e7ee;
}
.bg-1 p {
  font-style: italic;
  color: #8a8a8a !important;
}
.bg-2 {
  background: #F5F5F5;
  /*background: #0B1A33;*/
  /*background: #072952;*/
  /* color: #bdbdbd; */
  width: 100%;
  height: 100%;
  /* opacity: 0.9; */
}

.bg-2 p {
  font-style: italic;
  color: #2e3631 !important;
}
.bg-0 {
  background: #F5F5F5;
  /*background: #0B1A33;*/
  /*color: #bdbdbd;*/
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.bg-0 p {
  font-style: italic;
  color: #d8eee7 !important;
}
.bg-tenants {
  background: #0B1A33;
  /*color: #bdbdbd;*/
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/*.nav-tabs li a {*/
  /*color: #9e978e;*/
/*}*/

/*-----------------NavBar--------------*/
.navbar {
  font-family: Montserrat, sans-serif;
  /* font: 400 18px/1.8 "EB Garamond"; */
  margin-bottom: 0;
  background-color: #ffffff;
  /* background-color: transparent; */
  /* border-bottom: 2px #0609c2; */
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  font-weight: 400;
  height: 90px;
  /* opacity: 0.8; */
}
@media screen and (max-width: 414px) {
  .navbar {
    height: auto !important;
  }
}
.navbar li a  {
  color: #263f9d !important;
}
.navbar-brand {
  font-family: EB Garamond, sans-serif;
  font-size: 18px;
  color: #000080 !important;
  margin-top: 15px;
}
@media screen and (max-width: 414px) {
  .navbar-brand {
    margin-top: 0px !important;
  }
}
/*.navbar-default {*/
  /*border-bottom: 5px #9d0810 !important;*/
/*}*/
@media screen and (max-width: 375px){
 .navbar-brand {
  font-size: 15px;
   margin-top: -1px;
 }
}
.navbar-nav li a:hover {
  color: #13034d !important;
  font-weight: 600;
  border-bottom: 2px solid #000080 !important;
  /*font-size: 12px !important;*/
}
@media screen and (max-width: 414px) {
  .navbar-nav li a:hover {
  border: none !important;
    }
}

.navbar-nav li a:active {
  color: #13034d !important;
  font-weight: 900;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar ul {
  margin-top: 15px !important;
}
@media only screen and (max-width: 1024px) {
  .sm-navbar {
    letter-spacing: 2px;
  }
}
/*long*/
@media only screen and  (min-width: 768px) {
  .brand {
    display: none !important;
  }
  .desc-display {
    margin-left: -34px;
    top: 12px;
    font-size: 5px;
  }
}
/*short*/
@media only screen and (max-width: 767px)   {
  .ipad {
    display: none !important;
  }

}

.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}
.img-size {
  width: 100%;
  height: 100%;
}
/*.map-padding {*/
  /*padding-top: 45px;*/
/*}*/

.contact a {
  color: #d5d5d5 !important;
}
.contact a:hover {
  color: #fff !important;
}
.contact a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

/*Forms Payment, Maintenance, Contact*/
/**/

/*html,body,.wrapper{*/
  /*background: #f7f7f7;*/
/*}*/
.steps {
  margin-top: -41px;
  display: inline-block;
  float: right;
  font-size: 16px
}
.step {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
  position: relative
}
.step_line {
  margin: 0;
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1008;
  position: absolute;
  left: 99px;
  top: 1px
}
.step_line.backline {
  border-left: 20px solid #f7f7f7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 1006;
  position: absolute;
  left: 99px;
  top: -3px
}
.step_complete {
  background: #357ebd
}
.step_complete a.check-bc, .step_complete a.check-bc:hover,.afix-1,.afix-1:hover{
  color: #eee;
}
.step_line.step_complete {
  background: 0;
  border-left: 16px solid #357ebd
}
.step_thankyou {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
}
.step.check_step {
  margin-left: 5px;
}
.ch_pp {
  text-decoration: underline;
}
.ch_pp.sip {
  margin-left: 10px;
}
.check-bc,
.check-bc:hover {
  color: #222;
}
.SuccessField {
  border-color: #458845 !important;
  -webkit-box-shadow: 0 0 7px #9acc9a !important;
  -moz-box-shadow: 0 0 7px #9acc9a !important;
  box-shadow: 0 0 7px #9acc9a !important;
  /*background: #f9f9f9 url(../images/valid.png) no-repeat 98% center !important*/
}

.btn-xs{
  line-height: 28px;
}

/*login form*/
.login-container{
  margin-top:30px ;
}
.login-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login-container-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #357ebd;/*#4d90fe;*/
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-container-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-help{
  font-size: 12px;
}

.asterix{
  /*background:#f9f9f9 url(../images/red_asterisk.png) no-repeat 98% center !important;*/
}

/* images*/
ol, ul {
  list-style: none;
}
.hand {
  cursor: pointer;
  cursor: pointer;
}
.cards{
  padding-left:0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//assets/img/cc.png');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .mastercard {
  background-position: -51px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//assets/img/cc.png');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .amex {
  background-position: -102px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//assets/img/cc.png');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards li:last-child {
  margin-right: 0;
}
/* images end */



/*
 * BOOTSTRAP
 */
.container{
  border: none;
}
.panel-footer{
  background:#fff;
}
.panel-box {
 box-shadow: 0px 0px 25px 1px black;
}
.btn{
  border-radius: 1px;
}
.btn-sm, .btn-group-sm > .btn{
  border-radius: 1px;
}
.input-sm, .form-horizontal .form-group-sm .form-control{
  border-radius: 1px;
}

.panel-info {
  border-color: #999;
}

.panel-heading {
  display: inline-block;
  width: 100%;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.panel {
  border-radius: 1px;
}
.panel-info > .panel-heading {
  color: #eee;
  border-color: #999;
}
.panel-info > .panel-heading {
  background-image: linear-gradient(to bottom, #555 0px, #888 100%);
}

hr {
  border-color: #999 -moz-use-text-color -moz-use-text-color;
}

.panel-footer {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px solid #999;
}

.btn-link {
  color: #888;
}

hr{
  margin-bottom: 10px;
  margin-top: 10px;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 989px){
  .span1{
    margin-bottom: 15px;
    clear:both;
  }
}

@media only screen and (max-width: 764px){
  .inverse-1{
    float:right;
  }
}

@media only screen and (max-width: 586px){
  .cart-titles{
    display:none;
  }
  .panel {
    margin-bottom: 1px;
  }
}

.form-control {
  border-radius: 1px;
}

@media only screen and (max-width: 486px){
  .col-xss-12{
    width:100%;
  }
  .cart-img-show{
    display: none;
  }
  .btn-submit-fix{
    width:100%;
  }

}
.afix {
  font-size: 11px;
  font-style: italic;
}
.info-row {
  padding-top: 15px;
  border-top:3px solid rgba(128, 128, 128, 0.08);;
}
.btn-row {
  padding-bottom: 10px;
}
/*p {*/
  /*color: black;*/
/*}*/
.cards-img {
  width: 40%;
  margin-left: 67%;
}
/*@media only screen and (max-width: 777px){*/
  /*.container{*/
    /*overflow-x: hidden;*/
  /*}*/
/*}*/
.row-padding {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 30px;
}
.modal-backdrop {
  position: inherit !important;
}

/*-------------Spinner--------------------*/
.loader {
  margin-top: 40vh;
  margin-left: 6em;
  border: 16px solid #00000082;
  border-top: 16px solid #fff0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 414px) {
  .spinner {
    margin-left: 40%;
    margin-top: 65%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 823px) {
  .spinner {
    margin-left: 42%;
    margin-top: 20%;
  }
}

.bgr-color {
  background-color: #F5F5F5;
  height: 100vh;
}

@media only screen and (max-width: 823px) {
  .modal-dialog {
    padding: 25vh 2vh 0vh 2vh !important;
  }
}

