<div class="container-fluid bg-0" style="z-index: 1">
  <div class="row">
    <app-carousel></app-carousel>
  </div>
  <div class="row" style="background-color: #F5F5F5;">
    <div class="col-sm-12 col-md-12 text-padding">
<br>
      <p>
        Jacob Lei is your premier full service property management company serving East TN.
        Whether you are a seasoned real estate investor or the owner of one rental, we take the hassles and worry of being
        a landlord off your shoulders. Owners and tenants alike, value our knowledge of the market and the personalized
        attention they get from our friendly, local team. We tend to your property so that you can minimize your risk
        and maximize your profits. We specialize in multi-family, single family, and student housing properties.
<br>
        Jacob Lei is a locally owned management company based out of Knoxville, TN. As a full service management company
        we use innovative state of the art management systems to handle advertising, tenant placement, leasing,
        funds management, as well as accounting and reporting for the properties in our care. We offer unparalleled
        performance for our owners by providing stress-free worry-free service.
<br><br>

        <strong>Professional Service. Personal Service.</strong>
      </p>
    </div>
  </div>
</div>


